#alphabetSurvey {
    border-radius: 20px;
    padding:20px;
}

#character {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 325px;
}

#char {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#character p {
    font-size:150px;
}

#countryList {
    text-align: center;
    padding-top: 20px;
}

#countryList img {
    width: inherit;
}

#countryList h3 {
    margin-top: inherit;
}

.flagImage {
    height:50px;
    width: 70px;
}

#abResultFirst {
    float: left;
    width: 20%;
}
#abResultSecond {
    float: left;
    width: 20%;
}
#abResultThird {
    float: left;
    width: 20%;
}
#abResultCalculations {
    float: right;
    width: 35%;
    margin-left:1%;
}

#abResultChart {
    min-height: 300px;
}

#abResultChart p {
    /*TODO: Change px to vw or vh*/
    font-size: 100px;
}

#AlphabetSurveyList table {
    width: 100%;
    border-collapse: collapse;
}

#AlphabetSurveyList td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#AlphabetSurveyList tr:nth-child(even) {
    background-color: #dddddd;
}