@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>The Synesthesia Web</h1>
    <p class="lead">Here you can take free surveys to test synesthetic symptoms.</p>
    <p><a href="@Url.Action("Index","Survey")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
    