@model WebApplication.Models.AlphabetViewModel
@{
    ViewBag.Title = "Participate";
}

<h2>@Model.Alphabet.Description</h2>


<div class="container-fluid" id="">
    <div class="row">
            <div class="col-md-6 col-sm-12">
                <div id="colorPicker">
                    <div class="wheel" id="colorWheel">

                    </div>
                </div>
            </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="character">
            <div id="char">
                @foreach(var c in Model.Ascii)
                {
                    <p title="@c" hidden="hidden">&#@c;</p>
                }
            </div>
        </div>
    </div>
</div>

<div class="center">
    <button class="btn-success" id="btnPostResult">Press me!</button>
</div>